In [35]:
user = "gs75588"

In [36]:
source_dir = os.path.join("/scratch/Workshop", user)

In [37]:
import os

In [38]:
list_of_files = os.listdir(source_dir)

In [39]:
for file in list_of_files:
    if file.startswith("Frame"):
        os.rename(os.path.join(source_dir, file), os.path.join(source_dir, user+"_"+file))

In [79]:
user = "gs75589"
csv_filename = user+".csv"
csv_filename

'gs75589.csv'

In [80]:
import pandas as pd

In [81]:
df = pd.read_csv(os.path.join("/scratch/Workshop/", csv_filename))

In [82]:
df.head()

,annotation_id,annotator,created_at,id,image,label,lead_time,updated_at
0,1,1,2023-07-21T15:14:29.377331Z,1,/data/upload/1/f13e06f0-Frame_10.jpg,"[{""x"":37.5,""y"":38.88888888888889,""width"":6.114...",50.331,2023-07-21T15:14:29.377367Z
1,2,1,2023-07-21T15:15:28.783308Z,2,/data/upload/1/9a690bdb-Frame_10.jpg,"[{""x"":37.36413043478261,""y"":39.855072463768124...",58.851,2023-07-21T15:15:28.783344Z
2,3,1,2023-07-21T15:15:45.296154Z,3,/data/upload/1/fe228e68-Frame_11.jpg,"[{""x"":37.22826086956522,""y"":39.371980676328505...",15.946,2023-07-21T15:15:45.296196Z
3,4,1,2023-07-21T15:16:07.505088Z,4,/data/upload/1/085e612c-Frame_12.jpg,"[{""x"":37.5,""y"":39.855072463768124,""width"":5.84...",21.718,2023-07-21T15:16:07.505126Z
4,5,1,2023-07-21T15:16:24.876102Z,5,/data/upload/1/d6ccc16a-Frame_13.jpg,"[{""x"":37.22826086956522,""y"":39.613526570048315...",16.820,2023-07-21T15:16:24.876134Z

In [83]:
df["image"] = user+"_"+df["image"].str.split("-").str[-1]

In [84]:
df["image"]

0     gs75589_Frame_10.jpg
1     gs75589_Frame_10.jpg
2     gs75589_Frame_11.jpg
3     gs75589_Frame_12.jpg
4     gs75589_Frame_13.jpg
              ...
75    gs75589_Frame_84.jpg
76    gs75589_Frame_85.jpg
77    gs75589_Frame_86.jpg
78    gs75589_Frame_87.jpg
79    gs75589_Frame_88.jpg
Name: image, Length: 80, dtype: object

In [85]:
df.head()

,annotation_id,annotator,created_at,id,image,label,lead_time,updated_at
0,1,1,2023-07-21T15:14:29.377331Z,1,gs75589_Frame_10.jpg,"[{""x"":37.5,""y"":38.88888888888889,""width"":6.114...",50.331,2023-07-21T15:14:29.377367Z
1,2,1,2023-07-21T15:15:28.783308Z,2,gs75589_Frame_10.jpg,"[{""x"":37.36413043478261,""y"":39.855072463768124...",58.851,2023-07-21T15:15:28.783344Z
2,3,1,2023-07-21T15:15:45.296154Z,3,gs75589_Frame_11.jpg,"[{""x"":37.22826086956522,""y"":39.371980676328505...",15.946,2023-07-21T15:15:45.296196Z
3,4,1,2023-07-21T15:16:07.505088Z,4,gs75589_Frame_12.jpg,"[{""x"":37.5,""y"":39.855072463768124,""width"":5.84...",21.718,2023-07-21T15:16:07.505126Z
4,5,1,2023-07-21T15:16:24.876102Z,5,gs75589_Frame_13.jpg,"[{""x"":37.22826086956522,""y"":39.613526570048315...",16.820,2023-07-21T15:16:24.876134Z

In [86]:
df.to_csv("user_"+user+".csv")